/* .div {
    display: flex;
  
}

.manu{
   list-style: none;
   display: inline-flex;
   gap: 10px;
   display: flex;
} */

.containar {
    margin: 50px;
    border-radius: 10px;
    background-size: cover;
    color: aliceblue;
    background-image:  linear-gradient(to bottom, rgba(3, 3, 3, 0.868), rgba(99, 99, 99, 0.2)), url(../Images/Group\ 13\ \(1\)\ \(1\).png);
    /* background-image: url(../Images/Group\ 13\ \(1\)\ \(1\).png); */
    width: 1170px;
    height: 500px;
    border: 16px;
}

.containar h1 {
    padding-top: 30px;
    text-align: center;
    margin: 110px 290px;
}

.containar-p{
    font-size: 16px;
    padding: 16px 16px;
}